{{#if error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}<!-- recibe el texto de validacion de datos si no se escribe titulo o descripcion -->
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}<!-- recibe el texto de validacion de datos si no se escribe titulo o descripcion -->
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
