
<!-- Form--> <div class="col-lg-12 d-flex flex-column align-items-end min-vh-100">

                  <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center bg-darki-x">
										<div class="">

												<h1 class="font-weight-bold mb-4 text-light">Keys</h1>

                        <form class="mb-5 w-100 container" id="formulario" action="/users/signin" method="POST">
																<div class="row justify-content-end">
																	<div class="col-lg-6 ">
																	    <div class="input-group text-white">
																				<div class="">PORT_SERVERLOCAL</div>
				                                <input type="password" class="input--style-3 text-white active " name="PORT_SERVERLOCAL" id="pass1" value = {{var_ent.[0].PORT_SERVERLOCAL}} >
																			    <i id="iconeye1" class="fa fa-eye-slash text-muted iconeye"></i>
				                              </div>
				                              <div class="input-group text-white">
																				<div class="">MONGODB_URI</div>
				                                <input type="password" class="input--style-3 text-white active" name="MONGODB_URI" id="pass2" value = {{var_ent.[1].MONGODB_URI}}>
																					<i id="iconeye2" class="fa fa-eye-slash text-muted iconeye"></i>
				                              </div>
																	</div>
																	<div class="col-lg-6 ">
																				<div class="input-group text-white">
																					<div class="">PORT_BROKMQTT</div>
																					<input type="password" class="input--style-3 text-white active" name="SISTEMWEBPASS" id="pass3" value = {{var_ent.[2].PORT_BROKMQTT}} >
																					<i id="iconeye3" class="fa fa-eye-slash text-muted iconeye"></i>
																				</div>
																				<div class="input-group text-white">
																					<div class="">SISTEMWEBPASS</div>
																					<input type="password" class="input--style-3 text-white active" name="PORT_BROKMQTT" id="pass4" value = {{var_ent.[3].SISTEMWEBPASS}} >
																					<i id="iconeye4" class="fa fa-eye-slash text-muted iconeye"></i>
																				</div>
																	</div>
																</div>

															<div class="d-flex justify-content-center w-100 mt-5">
															<button type="submit" class="btn btn-primary w-50">Save</button>
															</div>

                      </form >
										</div>
                  </div>
                  <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 w-100 mt-5">
                    <p class="d-inline-block mb-0 text-light">Please, leave this site if you are not an </p> <a class="text-light font-weight-bold text-decoration-none" href="/users/signupval">administrator!</a>
                  </div>
          </div>
