
<section>
  <div class="row g-0">
		<div class="card">

	<!-- Form--> <div class="col-lg-12 d-flex flex-column align-items-end">
	              <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 w-100 mb-2">
	                <img class="rounded-circle logo-personal img-fluid" src="/img/logo.png" alt="">
	              </div>
	                  <div class="px-lg-5 py-lg-4 p-4 w-100 align-self-center">
	                        <h1 class="font-weight-bold mb-4 text-light">Admin Sign In</h1>

	                        <form class="mb-5" id="login" >


	                              <div class="input-group">
	                                <input type="password"  class="input--style-3 text-white mb-2" id="password" placeholder="Password" value="{{password}}">
	                              </div>
                                  <div class="">
                                    {{>errors }}
                                  </div>


                                  <!--   <button  class="btn btn-primary mt-3 w-100">Signin</button> -->
                                      <li onclick="signin()" class = "btn btn-primary" id = "loadOnCloud">Signin</li>
	                      </form >


	                  </div>
	                  <div class="text-center px-lg-5 pt-lg-3 pb-lg-4 p-4 w-100 mt-3">
	                    <p class="d-inline-block mb-0 text-light">Please, leave this site if you are not an administrator </p>
	                  </div>
	          </div>
		</div>
  </div>
</section>
<script>
function async signin() {
const password = document.getElementById("password").value;
let myHeaders = new Headers();
const options = {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json; charset=utf-8'
  }, //headers: myHeaders,
  body: JSON.stringify({
    password
  }),
}
const host = '/adm/in4321';
let myRequest = new Request(host, options);
await fetch(myRequest, {credentials: 'include'})
  .then(res => res.json())
  .then(json => console.log(json));}

</script>
